
.homeDesign {

    height: 100vh;
    width: 100vw;

    background-color: darkseagreen;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.showButtonDesign {

    height: 3.5em;
    width: 7.5em;

    margin-top: 2em;

    color: white;

    background-color: red;

    border-radius: 1em;
    cursor: pointer;

    transition: 0.2s;
}  

.showButtonDesign:hover {
   
    background-color: darkred;

    transition: 0.2s;
}